 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;

}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: fuchsia;
    
}

h1{ 
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    font-weight: bolder;
}

h3{
   font-size: 30px;

}

h4 {
    font-size: 20px;
}

p { 
    font-size: 20px;
}


/* NAV */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 28px;
    align-items: center;
   

}

nav > a:hover {
  color: #1307ed;  
}

nav > :first-child {
    width: 10%;
}

nav> ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

nav > ul > li > a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(179, 248, 110);
}

nav > ul > li > a:hover {
 color: #1307ed;
}

nav > a {
    top: 70px;
    left: 0;
    color: rgb(179, 248, 110);
    
}



/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: fit-content;
    color: khaki
}

header > div > :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: -5%;
    gap: 20px;
 }


header > div >:nth-child(2)> img {
    display: flex;
    justify-self: center;
    border-radius: 50%;
    width: 20%;
}
 
header > div > :last-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

header > div > :last-child > p {
    word-wrap: break-word;
    margin: 30px;
    
}

/* SECCIÓN GALERÍA */

#galería {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    color: khaki;
    width:100%;
    height:auto
    
}

#galería > ul {
    display: flex;
    list-style-type: none;
    margin: 5%;
    
}
#galería > ul > h4 {
  padding: 30px;
  row-gap: 28px;

}

#galería > ul > h3 {
 margin: 20px;
}


/* MEDIA QUERIS */

@media screen and (max-width: 720px) {
    .unions {
       
    }
   h1 {
    font-size: 35px;
   }
   h2 {
    font-size: 30px;
   }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
     h1 {
    font-size: 30px;
   }
    h2 {
    font-size: 25px;
   }
   
  #galería {
    display: flex;
    flex-direction: column;
  }
  
  #galeria > ul > img {
  width: 50%;
}
 
}








 




