
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Special Elite", system-ui;
 font-weight: 400;
 font-style: normal;
}
:root {
 --color-verde:yellowgreen;
 --color-rosaoscuro: fuchsia;
 --color-rosaclaro: rgb(238, 136, 233);
 --color-amarillo: rgb(235, 235, 138);
 --color-lila:rgb(197, 136, 238);
 --color-azul:rgb(19, 37, 231);
 --color-aguamarina:aquamarine;
 --color-rosamedio:rgb(221, 92, 195);
 --color-rosamorado: rgb(220, 47, 255);
}
body {
 display: flex;
 flex-direction: column;
 background-color: var(--color-rosaoscuro);
 height: 100vh;
 overflow: hidden;
}
/* HEADER */
.header-principal {
  background-color: var(--color-rosaoscuro);
  border-bottom: 2px solid var(--color-verde);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100%;
  height: 80px;
 } 
.header-principal h2 {
 color: var(--color-amarillo) ;
 }
.header {
 display: flex;
 align-items: center;
 width: 800px;
 height: 300px;
}
.menu-central {
 display: flex;
 gap: 40px;
}
.nav-item {
 color: var(--color-aguamarina);
 text-decoration: none;
 font-weight: bold;
 border-top: 4px solid var(--color-amarillo);
 padding-top: 5px;
 text-align: center;
 min-width: 100px;
 cursor: pointer;
}
.nav-item:hover { 
 color: var(--color-azul);
}
.contenedor-layout{
 display: grid;
 grid-template-columns: 300px 1fr;
 flex: 1; 
 overflow: hidden;
}
.zona-derecha-superior {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.logoAinhoa {
 width: 112px;
 height: auto;
}
.contenedor-principal {
 align-items: right;
 max-width: 1614px;
 margin: 20 20;
 padding: 20px;
}
.btn {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 15px;
}
/* VENTANA IZQUIERDA */
.ventana-izquierda {
 display: flex;
 flex-direction: column;
 background-color: var(--color-rosaclaro);
 border-right: 2px solid var(--color-verde);
 overflow: hidden;
}
.ventana-izquierda h2{
 background-color: var(--color-rosaclaro) ;
 color: var(--color-amarillo);
 font-size: 1.3rem;
 padding: 15px;
 text-align: center;
}
.works-scroll{
 overflow-y: auto;
 flex: 1;
 padding: 20px;
}
.work-card{
 margin-bottom: 30px;
 text-align: center;
}
.work-thumb{
 display: flex;
 background-color: var(--color-rosaclaro);
 color: var(--color-verde);
 height: auto;
 justify-content: center;
 align-items: center;
 font-weight: bold;
 margin-bottom: 8px;
 padding: 10px;
} 
.work-thumb img {
 height: auto;
 width: 100%;
 max-height: 100%;
 object-fit: cover;
 margin-bottom: 5px;
}
.work-card p {
 font-weight: bold;
 color: var(--color-amarillo);
 font-size: 1rem;
}
.works-scroll::-webkit-scrollbar{
 width: 8px;
}
.works-scroll::-webkit-scrollbar-thumb{
 background: var(--color-rosaclaro) ;
 border-radius: 4px;
}
/* PANTALLA CENTRAL */
.pantalla-central {
 display: flex;
 background-color: var(--color-rosamedio);
 flex-direction: column;
 align-items: center;
 padding: 40px;
 justify-content: center;
 overflow-y:auto;
 gap: 20px;
 flex: 1;
}
.pantalla-central h2 {
 color: var(--color-amarillo);
}
.avatar-placeholder img {
 width: 300px;
 height: 300px;
 border-radius: 50%;
 object-fit: cover;
 border: 3px solid var(--color-verde);
 box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.descripcion {
 padding: 5px 10px;
 color: var(--color-amarillo);
 text-align: center;
}
/* FOOTER */
.pie-de-pagina {
 background-color: var(--color-lila);
 color: var(--color-amarillo);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 40px;
 height: 75px;
 width: 100%;
}
.footer-izquierda {
 display: flex;
 align-items: center;
 gap: 25px;
}
.closefooter {
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--color-amarillo);
}
.closefooter:hover{
 color: var(--color-aguamarina);
}
.footerlinks {
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.footerlinks a {
 background-color: var(--color-rosamorado);
 color: var(--color-amarillo);
 font-size: 0.8rem;
 padding: 2px 15px;  
 text-align: center;
 font-weight: bold;
 text-decoration: none;
}
.footerlinks a:hover {
 background-color: var(--color-rosaoscuro);
 color: var(--color-aguamarina);
}
.footer-derecho {
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.footer-derecho a {
 background-color: var(--color-rosamorado);
 color: var(--color-amarillo);
 font-size: 0.8rem;
 padding: 2px 15px;
 font-weight: bold;
 text-decoration: none;
 text-align: center;
}
.footer-derecho a:hover {
  background-color: var(--color-rosaoscuro);
  color: var(--color-aguamarina);
}
/* GALERÍA */
